  .demo-text-1{
   display: inline-block;
    vertical-align: top;
    width: 297px;
    height: 150px;
	}
	.activity image,.activity img{
  width: 750px;
  height: 400px;
}
.active {
    color: #ffffff;
    border-bottom: solid 2px #ffffff;
  }

  .images-box {
    box-sizing: border-box;
    padding: 0 25px;
    height: 25.44267rem;
    position: relative;
    overflow: hidden;
    .share-btn {
      position: absolute;
      top: 40px;
      right: 40px;
      z-index: 999;
      width: 100px;
      height: 100px;
      background-image: url('http://static-r.msparis.com/uploads/f/8/f88a268b97504707e39104d00ca644fc.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      button {
        width: 100px;
        height: 100px;
        opacity: 0;
      }
    }
  }
  .clearfix {
    zoom: 1;

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  .detail-page {
    padding-bottom: 120px;
    background-color: #fff;
    .container {
      padding: 0 35px;
      padding-top: 20px;
      text-align: left;
      background: #fff;
      .info-business-card {
        margin-top: 10px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        .name {
          display: inline-block;
          color: #333;
          font-size: 34px;
          line-height: 30px;
          padding-right: 20px;
          font-weight: bold;
        }
        .model {
          display: inline-block;
          color: #878787;
          font-size: 28px;
          line-height: 30px;
        }
      }
      }
    }

  .detail-bottom-btns {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 98px;
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 350px;
    .join {
      width: 300px;
      height: 98px;
      font-size: 34px;
      color: #fff;
      background: #F26D83;
      line-height: 98px;
      text-align: center;
      position: absolute;
      right: 0;
    }
    .join-disabled {
      background: mix(#fff, #F26D83, 70%);
    }
    .nav {
      flex: 1;
      text-align: center;
      font-size: 16px;
      position: relative;
      color: #000;
      border: none;
      outline: none;
      background-color: #fff;
      .nav-img {
        display: block;
        margin: 0 auto;
        width: 60px;
        height: 60px;
      }
    }
  }

  .detailTitle{
    line-height: 2.6;
  }
