.pageBox{display: inline-flex;margin-left: 10%;}
.sort-wrap{
  height:90rpx;
  background-color:#fff;
  display: inline-flex;
}
.sort-title{
  width:71vw;
  float:left;
  text-align: center;
  margin-top: 2vh;
  font-size: 28rpx;
  color:#333;
  line-height: 34px;
}
.sort-title Image {
  width: 9px!important;
  height: 18px!important;
  //margin-left: 6px!important;

}
.sort-date{
  width:28vw;
  float:left;
  text-align: center;
  margin-top: 2vh;
  font-size: 28rpx;
  color:#333;
  line-height: 34px;
}
.sort-date Image {
  width: 9px!important;
  height: 18px!important;
  //margin-left: 6px!important;

}

.titleImage {
  display: inline-flex;
  .taro-img {
  width: 0.52533rem !important;
  height: 1% !important;
  overflow: hidden;
 }
}
.box{
  display: inline-flex;
  //text-align: center;
  width:100%;
  .contentBox{width: 251%;line-height: 1.26133rem;overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-left: 0.2em;
    text-align: left;}
  .dateBox{width: 100%; line-height: 1.26133rem;text-align: center}
}
.sort-btn-min{
  width:1%;height:38px;float: left;
}

