  .demo-text-1{
   display: inline-block;
    vertical-align: top;
    width: 297px;
    height: 150px;
	}
	.activity image,.activity img{
  width: 750px;
  height: 400px;
}
.active {
    color: #ffffff;
    border-bottom: solid 2px #ffffff;
  }