.demo-text-1{
  display: inline-block;
  vertical-align: top;
  width: 297px;
  height: 150px;
}
.activity image,.activity img{
  width: 750px;
  height: 400px;
}
.active {
  color: #ffffff;
  border-bottom: solid 2px #ffffff;
}

.images-box {
  box-sizing: border-box;
  padding: 0 25px;
  height: 1352px;
  position: relative;
  overflow: hidden;
  .share-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 999;
    width: 100px;
    height: 100px;
    background-image: url('http://static-r.msparis.com/uploads/f/8/f88a268b97504707e39104d00ca644fc.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    button {
      width: 100px;
      height: 100px;
      opacity: 0;
    }
  }
}
.clearfix {
  zoom: 1;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.detail-page {
  padding-bottom: 120px;
  background-color: #4c5264;
  .container {
    padding: 0 35px;
    padding-top: 20px;
    text-align: left;
    background: #fff;
    .info-business-card {
      margin-top: 10px;
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      .name {
        display: inline-block;
        color: #333;
        font-size: 34px;
        line-height: 30px;
        padding-right: 20px;
        font-weight: bold;
      }
      .model {
        display: inline-block;
        color: #878787;
        font-size: 28px;
        line-height: 30px;
      }
    }
  }
}
.taro-img{
  width:259px;
}

.swiper__wrapper{
  height: 100%!important;
}
.swiper__container{ height: 80vh;}
