.hotSearch{
  font-size: 0.7416rem;
  margin-left:5%;
  margin-top:3%;
  display: grid;
}
.content{
  width: 35px;
  margin-top: -20%;
  margin-left: 5%;
}
.historySearch{
  font-size: 0.7416rem;
  margin-left:5%;
  margin-top:3%;
  display: grid;
}
.deleteIcon{
  margin-right: 5%;
  margin-top: -6%;
  float: right;
  width: 6%;
  height: 10%;
}
