.hotSearch{
  font-size: 0.7416rem;
  margin-left:5%;
  margin-top:3%;
  display: grid;
}
.content{
  width: 35px;
  margin-top: -20%;
  margin-left: 5%;
}
.historySearch{
  font-size: 0.7416rem;
  margin-left:5%;
  margin-top:3%;
  display: grid;
}
.deleteIcon{
  margin-left: 88%!important;
  width: 6%!important;
  height: 100%!important;
  top: -0.97267rem;
}
.selectListNone{
  position: absolute;
  z-index: 1000;
  background: #F7F7F7;
  top: 9%;
  width: 86%;
  left: 2%;
  display: none;
  border-radius: 16px;
  .active{
    display: block;
  }
  .searchBox{
    margin-left:10%;
    font-size: 0.85733rem;
    width: 100%;
    display: -webkit-box;
    // display:in
    .searchBoxLeft{
      width:70%;
    }
    .searchBoxRight{
      width:20%;
      text-align:center;
    }
  }
}
.selectListBlock{
  position: absolute;
  z-index: 1000;
  background: #F7F7F7;
  top: 10.3%;
  width: 83%;
  left: 2%;
  .active{
    display: block;
  }
  .searchBox{
    margin-left:10%;
    font-size: 0.85733rem;
    width: 100%;
    display: -webkit-box;
    .searchBoxLeft{
      width:70%;
    }
    .searchBoxRight{
      width:20%;
      text-align:center;
    }
  }
}
.myStyle{
  .at-search-bar__container{border-radius: 0PX;}
}
