.container{
  height: 1500px;
}
.at-pagination{
position: relative;
margin: 0 0.85333rem;
font-size: 0;
overflow: hidden;
}
.pageBox{display: inline-flex;margin-left: 2%;}
.at-input{padding: 0}
.at-input__input {
  width: 122px;
  -webkit-flex: 1;
  flex: 1;
  display: inline-block;
  font-size: 0.68267rem;
  line-height: 1.8;
  vertical-align: middle;
  text-align: center;
}

