  .demo-text-1{
   display: inline-block;
    vertical-align: top;
    width: 297px;
    height: 150px;
	}
	.activity image,.activity img{
  width: 750px;
  height: 400px;
}
 .swiper__wrapper{
   height: 1000px!important;
 }
  .swiper {height: 755px;
    image,img {
    height: 750px!important;
  }}

   .slide-image {width: 80%;height: 25.33333rem!important; margin-left: 1.32rem;}
  .image-box-wrap{margin-top:13px!important;}
