.pageBox{display: inline-flex;margin-left: 2%;}
.at-input{padding: 0}
.at-input__input {
  width: 122px;
  -webkit-flex: 1;
  flex: 1;
  display: inline-block;
  font-size: 0.68267rem;
  line-height: 2;
  vertical-align: middle;
  text-align: center;
}

